body{
  margin:0;
  padding:0;
  overflow:hidden;
}
.absolute{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
}
.hidden{
  display: none;
}
.transition-wrapper{
  position:absolute!important;
  width:100%;
  height:100%;
  overflow: hidden;
}
.center{
  text-align:center;
}
.pd-sm{
  padding:5px;
}
.pd-md{
  padding:10px;
}
.pd-lg{
  padding:20px;
}
.font-hg{
  font-size:18px;
}
.font-lg{
  font-size:16px;
}
.font-md{
  font-size:14px;
}
.font-sm{
  font-size:12px;
}


.back-enter, .forward-exit{
  transition: all .15s;
  transform: translateX(-50px) translateZ(0);
  opacity: 0;
}
.forward-enter, .back-exit{
  transition: all .15s;
  transform: translateX(50px) translateZ(0);
  opacity: 0;
}
.forward-enter-active, .back-enter-active{
  transition: all .15s ease-out;
  transform: translateX(0)!important;
  opacity: 1!important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.back-exit-active, .forward-exit-active{
  transition: all .15s ease-in;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/*.back-exit-active,.forward-exit-active{
  transform: translateX(0);
  transition: all 1.5s ease-in;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.forward-enter-active,.back-enter-active{
  transition: all 1.5s ease-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.forward-enter, .back-exit{
  transition: all 1.5s ease-out;
  transform: translateX(0) translateZ(0);
  opacity: 0;
}
.back-enter, .forward-exit{
  transition: all 1.5s ease-out;
  transform: translateX(-50px) translateZ(0);
  opacity: 0;
}*/

.am-list-item{
  min-height:48px!important;
}